
/*---------------------------------------------*/
/* Basic set up */
/*---------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  html {
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility;
  }

  .clearfix{zoom: 1}
  .clearfix:after{
      content:'.';
      clear:both;
      display: block;
      height: 0;
      visibility:hidden;
    
  }

/*---------------------------------------------*/
/* REUSABLE COMPONENTS */
/*---------------------------------------------*/

section {
  padding: 80px 0px;
  margin: 0 auto;
}

.row {
  margin: 0 auto;
  max-width: 1140px;
}

.rowHeader {
  margin: 0 auto;
  width: auto;
}

/* HEADINGS------------------------------------*/
header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(../img/dogue-hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh; /*1 100vh is 100% of the viewport */
  padding: 0;
  margin: 0;
  background-attachment: fixed;
}

.hero-text-box{
  text-align: center;
  position: relative;
  top: 35vh;
  font-size: 300%;
  color: #fff;
  

}

.hero-text-box h1 {
  font-weight: 300;
}

h1,
h2,
h3{
    font-weight: 300;
    text-transform: uppercase;  
}

h2{
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* BUTTONS------------------------------------*/
.main-nav{
  display: flex;
  top: 0;
  right: 0;
  margin-right: 1%;
  margin-left: 70%;
  float: right;
  list-style-type: none;
}


.main-nav li{
  display: inline-block;
  margin-left: 40px;
  margin-top: 25px;
  
}

.main-nav li a:link,
.main-nav li a:visited{
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform:uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
  
}

.main-nav li a:hover,
.main-nav li a:active{
  border-bottom: 2px solid #e67e22;
  
}

/* ---------------------------------- */
/*              DogCollage            */
/* ---------------------------------- */

.section-pictureCollage{
  padding: 0;
  
}

.dogSshowcase{
  list-style:none;
  width: 100%;

}

.dogShowcase li {
  display: block;
  float: left;
  width: 25%;
  
}

.dogCollage{
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}


.dogCollage img {
  opacity: 0.7;
  width: 100%;
  height:auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity .5s;
  
}

.dogCollage img:hover {
  opacity: 1;
  transform: scale(1.03);
  
}
.information2{
  padding-top: 0;
  margin: 0 auto;
}

.contactSection {
  background-color: rgba(255, 255, 255, 0.753);
}

/* ---------------------------------- */
/*               FOOTER               */
/* ---------------------------------- */ 

footer{
  background-color: #242424;
  padding: 50px;
  
}

.footer-nav{
  list-style:none;  
  justify-content: space-around;
  float: right;
  
}
.footer-nav ul {
  width: 60%;
  margin-left: 20%;
}
.footer-nav li{
  justify-content: space-evenly;
    display: inline-block;
    margin-right: 20px;
}


.footer-nav li:last-child{
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited{
    text-decoration: none;
    border:none;
    color: #767676;
}

.footer-nav li a:hover,
.footer-nav li a:active{
    color: #fff;
    
} 



footer small{
    color: #767676;
    text-align: center;
    font-size: 90%;
    margin-top: 0px;
}
.headshot img{
width: 100%;
margin: 0 auto;
}
.image-click{
  width: 20%;
  margin-left: 45%;
  margin-bottom: 2%;
  font-size: 120%;
}